@charset "utf-8";

.page-content {
	padding: 10px;

	.page-content-header {
		margin-top: 10px;
		margin-bottom: 15px;
		overflow: hidden;
		font-size: 12px;
		color: $submit-color;
	}

	.submit {
		margin-right: 15px;
	}

	.page-content-body p{
		color: #000;
	}
}


.tags {
	border-top: $border-default;
	border-bottom: $border-default;
	padding: 6px 10px 3px;
	margin-bottom: 10px;
}

.table-stars {
	padding: 0 10px;
	overflow: hidden;

	> div {
		margin-right: -10px;
	}

	a {
		display: block;
		float: left;
		width: 33.333333333%;
		padding-right: 10px;
		margin-bottom: 10px;
		text-align: center;

		img {
			width: 100%;
			//height: 100px;
			vertical-align: top;
			display: block;
			margin-bottom: 5px;
		}

		.hair-title {
			padding:0 10px;
			color: #3e3e3e;
			font-size: 12px;
			line-height: 1.25;
		}
	}
}

.page-hair {
	h2 {
		padding:15px 10px;
		font-size: 18px;
		margin-bottom: 0;
		color: #21292c;
	}
	.table-stars img {
		margin-bottom: 0;
	}
}

.page-hair-adjustment {
	height: 100%;
	overflow: hidden;
	position: relative;

	img {
		width: 100%;
		vertical-align: top;
		position: absolute;
		bottom:0;
	}
}

.page-upload {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.page-hair-advantage,
#hair-hot,
#hair-new {
	margin-top: 10px;

	.table-stars a {
		width: 50%;

		img {
			height: 80px;
		}
	}
}

.page-tucao-home {
	.media-body h4 {
		color: #3f3f3f;
	}
	.subbmit {
		margin-right: 15px;
	}
}
.page-friends {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	z-index: 10;

	img {
		position: absolute;
		top:0;
		left: 0;
		bottom:0;
		right:0;
		height: 100%;
		width: 100%;
	}
}
.page-friends-bar {
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	z-index: 11;

	.page-table {
		display: table;
		bottom: 0;
		width: 100%;
		padding: 0;
	}
	.page-table-cell {
		display: table-cell;
	    width: 1%;
	    vertical-align: middle;
	    text-align: center;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    color: #fff;

	    &:first-child {
	    	background-color: rgba(0,0,0,.75);
	    }
	    &:last-child {
	    	background-color: rgba(189,61,22,.75);
	    }
	}
	.table-view {
		border: none 0;
		margin: 0;
		background: none;

		.table-view-cell:active {
	      background-color: transparent;

	      > a:not(.btn):active {
	      	background-color: transparent;
	      }
	    }
	}
	.media-object {
		width: 45px;
		height: 45px;
		border-bottom-left-radius: 45px;
		border-bottom-right-radius: 45px;
		border-top-right-radius: 45px;
		border-top-left-radius: 45px;
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
	}
	.media-body {
		text-align: left;
		h4 {
			font-size: 14px;
			margin-bottom: 5px;
		}
		.table-view-des {
			font-size: 12px;
			margin-bottom: 0;
			color: #718187;
		}
	}
}
.page-hair-list {
	#hair-hot,
	#hair-new {
		.table-stars img {
			height: 160px;
		}
		.hair-title {
			padding:0;

			.pull-right {
				color: #d1d1d1;
			}
		}
	}
}
.page-play-bar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.75);
	z-index: 11;
	text-align: right;

	.comment {
		float: right;
		background-color: rgba(189,61,22,.75);
		padding: 5px 10px;
	}
}

.page-top {
	.media-object {
		width: 80px;
		height: 80px;

		img {
			width: 100%;
			vertical-align: top;
			height: 80px;
		}
	}
	.media-body {
		h4 {
			font-size: 14px;
			color: #1e1e1e;
			margin-bottom: 8px;
		}
		.table-view-des {
			font-size: 12px;
			line-height: 1.2;
			color: #686868;
		}
	}
}
.page-loading {
	position: absolute;
	background-color: rgba(0,0,0,.5);
	top:0;
	left: 0;
	right: 0;
	bottom: 0;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70px;
		height: 70px;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
}