//
// Ratchicons
// --------------------------------------------------

@font-face {
  font-family: Ratchicons;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ratchicons.eot');
  src: url('../fonts/ratchicons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ratchicons.woff') format('woff'),
       url('../fonts/ratchicons.ttf') format('truetype'),
       url('../fonts/ratchicons.svg#svgFontName') format('svg');
}

.icon {
  display: inline-block;
  font-family: Ratchicons;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.icon-back                  { &:before { content: '\e80a'; } }
.icon-bars                  { &:before { content: '\e80e'; } }
.icon-caret                 { &:before { content: '\e80f'; } }
.icon-check                 { &:before { content: '\e810'; } }
.icon-close                 { &:before { content: '\e811'; } }
.icon-code                  { &:before { content: '\e812'; } }
.icon-compose               { &:before { content: '\e813'; } }
.icon-download              { &:before { content: '\e815'; } }
.icon-edit                  { &:before { content: '\e829'; } }
.icon-forward               { &:before { content: '\e82a'; } }
.icon-gear                  { &:before { content: '\e821'; } }
.icon-home                  { &:before { content: '\e82b'; } }
.icon-info                  { &:before { content: '\e82c'; } }
.icon-list                  { &:before { content: '\e823'; } }
.icon-more-vertical         { &:before { content: '\e82e'; } }
.icon-more                  { &:before { content: '\e82f'; } }
.icon-pages                 { &:before { content: '\e824'; } }
.icon-pause                 { &:before { content: '\e830'; } }
.icon-person                { &:before { content: '\e832'; } }
.icon-play                  { &:before { content: '\e816'; } }
.icon-plus                  { &:before { content: '\e817'; } }
.icon-refresh               { &:before { content: '\e825'; } }
.icon-search                { &:before { content: '\e819'; } }
.icon-share                 { &:before { content: '\e81a'; } }
.icon-sound                 { &:before { content: '\e827'; } }
.icon-sound2                { &:before { content: '\e828'; } }
.icon-sound3                { &:before { content: '\e80b'; } }
.icon-sound4                { &:before { content: '\e80c'; } }
.icon-star-filled           { &:before { content: '\e81b'; } }
.icon-star                  { &:before { content: '\e81c'; } }
.icon-stop                  { &:before { content: '\e81d'; } }
.icon-trash                 { &:before { content: '\e81e'; } }
.icon-up-nav                { &:before { content: '\e81f'; } }
.icon-up                    { &:before { content: '\e80d'; } }
.icon-right-nav             { &:before { content: '\e818'; } }
.icon-right                 { &:before { content: '\e826'; } }
.icon-down-nav              { &:before { content: '\e814'; } }
.icon-down                  { &:before { content: '\e820'; } }
.icon-left-nav              { &:before { content: '\e82d'; } }
.icon-left                  { &:before { content: '\e822'; } }

//icon comment
.icon-comment {
  font-size: 12px;

  &:before{
    content:"";
    background: url(../images/comment.png) no-repeat center;
    background-size: 10px 11px;
    width: 10px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
  }
}

//icon video
.icon-video {
  font-size: 12px;

  &:before{
    content:"";
    background: url(../images/video.png) no-repeat center;
    background-size: 12px 11px;
    width: 12px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
  }
}

.icon-comment-orange {
  font-size: 12px;

  &:before{
    content:"";
    background: url(../images/comment-orange.png) no-repeat center;
    background-size: 10px 11px;
    width: 10px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
  }
}
.icon-tag {
  font-size: 12px;
  margin-top: 2px;

  &:before{
    content:"";
    background: url(../images/icon-tags.png) no-repeat center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
  }
}

.icon-friends {
  font-size: 12px;

  &:before{
    content:"";
    background: url(../images/icon-friends.png) no-repeat center;
    background-size: 30px 28px;
    width: 30px;
    height: 28px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
.icon-tucao {
  font-size: 12px;

  &:before{
    content:"";
    background: url(../images/icon-tucao.png) no-repeat center;
    background-size: 34px 31px;
    width: 34px;
    height: 31px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.icon-user {
  font-size: 12px;
 
  &:before{
    content:"";
    background: url(../images/icon-user.png) no-repeat center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
}

.icon-address {
  font-size: 12px;
 
  &:before{
    content:"";
    background: url(../images/icon-address.png) no-repeat center;
    background-size: 9px 15px;
    width: 9px;
    height: 15px;
    display: inline-block;
  }
}
.icon-price {
  font-size: 12px;
 
  &:before{
    content:"";
    background: url(../images/icon-price.png) no-repeat center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
  }
}
.icon-phone {
  font-size: 12px;
 
  &:before{
    content:"";
    background: url(../images/icon-phone.png) no-repeat center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 5px;
  }
}
.icon-shars {
  font-size: 12px;
 
  &:before{
    content:"";
    background: url(../images/icon-shars.png) no-repeat center;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
  }
}
.icon-shars-sm {
  font-size: 12px;
 
  &:before{
    content:"";
    background: url(../images/icon-shars-sm.png) no-repeat center;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
  }
}