/* styleSheets */

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
fieldset,img {
border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-weight: normal;
font-style: normal;
}
ol,ul {
list-style: none;
}
caption,th {
text-align: left;
}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
}
q:before,q:after {
content:'';
}
abbr,acronym { border: 0;
}
#one{background:url(../mock/230_230.jpg) no-repeat center center;}
#one2{background:url(../mock/230_230.jpg) no-repeat center center;}
#one3{background:url(../mock/230_230.jpg) no-repeat center center;}
#one4{background:url(../mock/230_230.jpg) no-repeat center center;}
#one5{background:url(../mock/230_230.jpg) no-repeat center center;}
#one6{background:url(../mock/230_230.jpg) no-repeat center center;}
#c1{background:url(../mock/640_440.jpg) no-repeat center center;}
#c2{background:url(../mock/640_440.jpg) no-repeat center center;}
#c3{background:url(../mock/640_440.jpg) no-repeat center center;}
#c4{background:url(../mock/640_440.jpg) no-repeat center center;}
#c5{background:url(../mock/640_440.jpg) no-repeat center center;}
#c6{background:url(../mock/640_440.jpg) no-repeat center center;}
#c7{background:url(../mock/640_440.jpg) no-repeat center center;}
#c8{background:url(../mock/640_440.jpg) no-repeat center center;}
#c9{background:url(../mock/640_440.jpg) no-repeat center center;}
#c10{background:url(../mock/640_440.jpg) no-repeat center center;}
#c11{background:url(../mock/640_440.jpg) no-repeat center center;}
#a1{background:url(../mock/640_440.jpg) no-repeat center center;}
#a2{background:url(../mock/640_440.jpg) no-repeat center center;}



#imgindex{background:url(../mock/640_440.jpg) no-repeat center center;background-size:46% 220px;display:block;width:50%;height:220px;margin:0 auto;border-width:0;border:0;}
#imgindexone{background:url(../mock/640_440.jpg) no-repeat center center;background-size:46% 220px;display:block;width:50%;height:220px;margin:0 auto;border-width:0;border:0;}
#imgindextwo{background:url(../mock/640_440.jpg) no-repeat center center;background-size:46% 220px;display:block;width:50%;height:220px;margin:0 auto;border-width:0;border:0;}
#imgbarber{background:url(../mock/640_440.jpg) no-repeat center center;background-size:46% 220px;display:block;width:50%;height:220px;margin:0 auto;border-width:0;border:0;}
#imgbarberone{background:url(../mock/640_440.jpg) no-repeat center center;background-size:46% 220px;display:block;width:50%;height:220px;margin:0 auto;border-width:0;border:0;}
#imgbarbertwo{background:url(../mock/640_440.jpg) no-repeat center center;background-size:46% 220px;display:block;width:50%;height:220px;margin:0 auto;border-width:0;border:0;}

/* set REM font size */
html { width: 100%; height: 100%; font-size: 62.5% }
body { -webkit-text-size-adjust: none; font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif; font-size: 14px; font-size: 1.4rem; background: #fff8ef; }
a{text-decoration: none;}
.clearfix:after{content:'.';display: block;height:0;visibility: hidden;clear:both;}

.siteNav{position: fixed;left:0;bottom:0;width:100%;height:35px;padding-top:8px;background:#303a43;z-index:10001;}
.siteNav .left{float:left;margin-left:8px;}
.siteNav .right{float:right;margin-right:8px;}
.siteNav .center{}
.siteNav .go2back{display: inline-block;width:49px;height:28px;background:url(../images/topic_page_button_back_normal.png) no-repeat 0 0;background-size: 49px 28px;}
.siteNav .go2home{display: inline-block;width:49px;height:28px;background:url(../images/topic_page_button_home_normal.png) no-repeat 0 0;background-size: 49px 28px;}


/* index.html */
#fp{height:100%;display: box; display:-webkit-box;box-orient:vertical;-webkit-box-orient:vertical;}
#fp .slider{position:relative;display: box; display:-webkit-box;height:220px;background: #000;overflow:hidden;}
#fp .slider .cont ul{margin-left:0;}
#fp .slider .cont li{position:relative;float:left;height:220px;overflow:hidden;}
#fp .slider img{display:block;height:220px;margin:0 auto;}

#fp .slider .txt{position:absolute;bottom:0;left:0;width:100%;height:47px;background:rgba(0,0,0,0.5);}
#fp .slider .txt .tit{padding-left:12px;line-height:28px;color:#fff;font-size:15px;font-size:1.5rem;}
#fp .slider .txt .comment{padding-left:12px;color:#cfc9c9;font-size:10px;font-size:1rem;}
#fp .slider .tab{position:absolute;right:12px;bottom:20px;}
#fp .slider .tab li{float:left;margin-left:6px;}
#fp .slider .tab li .dot{display: block;width:6px;height:6px;border-radius: 12px;background:#fff;}
#fp .slider .tab li.curr .dot{background:#f50;}

#fp .hairDesign{display: box; display:-webkit-box;box-flex:1; -webkit-box-flex:1;background:#fff8ef url(../images/home_page_switch_func.png) no-repeat 50% 50%;background-size:105px 145px;}

#fp .hairDesign .hairBtns{display: box; display:-webkit-box;box-orient:horizontal;-webkit-box-orient:horizontal;width:100%;}
#fp .hairDesign a{display: box; display:-webkit-box;box-flex:1; -webkit-box-flex:1;}


#fp .hairDesign .takeAlook{background: url(../images/home_page_view.png) no-repeat 0 50%;background-size: 86px 43px;overflow: hidden;text-indent:-999px;}
#fp .hairDesign .haveAtry{background: url(../images/home_page_switch.png) no-repeat 100% 50%;background-size: 89px 43px;overflow: hidden;text-indent:-999px;}


#fp .navBtn{display: box; display:-webkit-box;box-orient:horizontal;-webkit-box-orient:horizontal;height:49px;background:#c5ad8e;}

#fp .navBtn p{display: box; display:-webkit-box;box-flex:1; -webkit-box-flex:1;color:#fff;border-left:1px solid #dbcfc0;overflow:hidden;}
#fp .navBtn p:first{border-left:none;}
#fp .navBtn a{display:block;text-decoration:none;width:100%;padding-top:10px;padding-left:35%;}
#fp .navBtn a span{display:block;color:#fff;font-size:12px;font-size:1.2rem;line-height:18px;}
#fp .navBtn a em{display:block;color:#e9e0d6;font-size:0.9rem;font-size:9px;line-height:12px;}
#fp .navBtn .infomation{background: url(../images/home_page_button_information.png) no-repeat 10% 50%;background-size:32px 32px;}
#fp .navBtn .hairdresser{background: url(../images/home_page_button_hairdresser.png) no-repeat 10% 50%;background-size:32px 32px;}
#fp .navBtn .merchants{background: url(../images/home_page_button_merchants.png) no-repeat 10% 50%;background-size:32px 32px;}


/*shopIndex*/
#shopIndex {padding-bottom:35px;}
#shopIndex .topBanners{width:100%;height:147px;background:#fff8ef url(../images/shopinfo_banner_bg.png) no-repeat 0 center;background-size:auto 147px;}

#shopIndex .topBanners .picWin{position:relative;float:left;width:115px;height:115px;margin:13px 10px 0 10px;border:2px solid #fff;overflow: hidden;box-shadow:-2px 2px 2px rgba(0,0,0,.7);background:url(../mock/230_230.jpg);background-size:115px 115px;}
#shopIndex .topBanners .picWin img{display: block;width:115px;height:115px;}

#shopIndex .topBanners .picWin .tp{width:115px;height:115px;}

#shopIndex .topBanners .picWin .picNum{position: absolute;bottom:0;left:0;width:100%;height:24px;line-height:24px;text-align:center;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;font-size:12px;font-size:1.2rem;font-weight:bold;color:#ccb08d;background:rgba(0,0,0,.5);}

#shopIndex .topBanners .shopName{float:left;margin-top:10px;}
#shopIndex .topBanners .shopName .name{width:130px;height:100px;font-size:18px;font-size:1.8rem;font-weight:bold;color:#fff;text-shadow:3px 3px 3px rgba(0,0,0,.7);overflow:hidden;}
#shopIndex .topBanners .shopName .starsShow{width:165px;font-size:15px;font-size:1.5rem;font-weight:bold;color:#fff;text-shadow:3px 3px 3px rgba(0,0,0,.7)}

#shopIndex .topBanners .shopName .starsShow .showStar{float:left;width:110px;}
#shopIndex .topBanners .shopName .starsShow .showStar i{float:left;width:21px;height:21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score0 i.s1,
#shopIndex .topBanners .shopName .starsShow .showStar.score0 i.s2,
#shopIndex .topBanners .shopName .starsShow .showStar.score0 i.s3,
#shopIndex .topBanners .shopName .starsShow .showStar.score0 i.s4,
#shopIndex .topBanners .shopName .starsShow .showStar.score0 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score5 i.s1{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score5 i.s2,
#shopIndex .topBanners .shopName .starsShow .showStar.score5 i.s3,
#shopIndex .topBanners .shopName .starsShow .showStar.score5 i.s4,
#shopIndex .topBanners .shopName .starsShow .showStar.score5 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score10 i.s1{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score10 i.s2,
#shopIndex .topBanners .shopName .starsShow .showStar.score10 i.s3,
#shopIndex .topBanners .shopName .starsShow .showStar.score10 i.s4,
#shopIndex .topBanners .shopName .starsShow .showStar.score10 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score15 i.s1{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score15 i.s2{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score15 i.s3,
#shopIndex .topBanners .shopName .starsShow .showStar.score15 i.s4,
#shopIndex .topBanners .shopName .starsShow .showStar.score15 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score20 i.s1,
#shopIndex .topBanners .shopName .starsShow .showStar.score20 i.s2{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score20 i.s3,
#shopIndex .topBanners .shopName .starsShow .showStar.score20 i.s4,
#shopIndex .topBanners .shopName .starsShow .showStar.score20 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score25 i.s1,
#shopIndex .topBanners .shopName .starsShow .showStar.score25 i.s2{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score25 i.s3{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score25 i.s4,
#shopIndex .topBanners .shopName .starsShow .showStar.score25 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score30 i.s1,
#shopIndex .topBanners .shopName .starsShow .showStar.score30 i.s2,
#shopIndex .topBanners .shopName .starsShow .showStar.score30 i.s3{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score30 i.s4,
#shopIndex .topBanners .shopName .starsShow .showStar.score30 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score35 i.s1,
#shopIndex .topBanners .shopName .starsShow .showStar.score35 i.s2,
#shopIndex .topBanners .shopName .starsShow .showStar.score35 i.s3{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score35 i.s4{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score35 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score40 i.s1,
#shopIndex .topBanners .shopName .starsShow .showStar.score40 i.s2,
#shopIndex .topBanners .shopName .starsShow .showStar.score40 i.s3,
#shopIndex .topBanners .shopName .starsShow .showStar.score40 i.s4{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score40 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score45 i.s1,
#shopIndex .topBanners .shopName .starsShow .showStar.score45 i.s2,
#shopIndex .topBanners .shopName .starsShow .showStar.score45 i.s3,
#shopIndex .topBanners .shopName .starsShow .showStar.score45 i.s4{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopIndex .topBanners .shopName .starsShow .showStar.score45 i.s5{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .showStar.score50 i.s1,
#shopIndex .topBanners .shopName .starsShow .showStar.score50 i.s2,
#shopIndex .topBanners .shopName .starsShow .showStar.score50 i.s3,
#shopIndex .topBanners .shopName .starsShow .showStar.score50 i.s4,
#shopIndex .topBanners .shopName .starsShow .showStar.score50 i.s5{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}

#shopIndex .topBanners .shopName .starsShow .score{float:left;line-height: 21px;}

#shopIndex .shopInfo .infoClass{position:relative;background:#fff8ef url(../images/shopinfo_bgline.png) repeat-y 41px 0;}
#shopIndex .shopInfo .infoClass .content{margin-left:41px;padding-left:25px;border-bottom:1px solid #e4d7c7;}
#shopIndex .shopInfo .infoClass .content .tit{width:220px;line-height:22px;padding:18px 0;color:#443626;}
#shopIndex .shopInfo .infoClass .content .cont{display:none;line-height:15px;margin:0 15px 18px 0;background:#ffe5e9;font-size:12px;font-size:1.2rem;color:#917450;}


#shopIndex .shopInfo .infoClass .icon{position: absolute;top:14px;left:27px;width:30px;height:30px;}
#shopIndex .shopInfo .infoClass .icon.addr{background: url(../images/merchant_page_icon_address.png) no-repeat 0 0;background-size: 30px 30px;}
#shopIndex .shopInfo .infoClass .icon.tel{background: url(../images/merchant_page_icon_phone_number.png) no-repeat 0 0;background-size: 30px 30px;}
#shopIndex .shopInfo .infoClass .icon.serv{background: url(../images/hairdresser_page_icon_free.png) no-repeat 0 0;background-size: 30px 30px;}
#shopIndex .shopInfo .infoClass .icon.guarantee{background: url(../images/icon_safe.png) no-repeat 0 0;background-size: 30px 30px;}
#shopIndex .shopInfo .infoClass .changePage{position: absolute;top:8px;right:7px;width:40px;height:40px;}
#shopIndex .shopInfo .infoClass .changePage.addr{background: url(../images/merchant_page_button_gps_normal.png) no-repeat 0 0;background-size: 40px 40px;}
#shopIndex .shopInfo .infoClass .changePage.tel{background: url(../images/merchant_page_button_call_normal.png) no-repeat 0 0;background-size: 40px 40px;}
#shopIndex .shopInfo .infoClass .changePage.slideDown{background: url(../images/merchant_page_button_fold_normal.png) no-repeat 0 0;background-size: 40px 40px;}
#shopIndex .shopInfo .infoClass .changePage.slideUp{background: url(../images/merchant_page_button_expand_normal.png) no-repeat 0 0;background-size: 40px 40px;}

#shopIndex .shopInfo .infoClass .freeServ{position:absolute;right:30px;top:50%;width:150px;margin-top:-9px;}
#shopIndex .shopInfo .infoClass .freeServ span{float:left;width:18px;height:18px;margin-left:10px;}
#shopIndex .shopInfo .infoClass .freeServ span.off{opacity:.3;}
#shopIndex .shopInfo .infoClass .freeServ span.serv1{background: url(../images/icon_hand.png) no-repeat center;background-size: 16px 18px;}
#shopIndex .shopInfo .infoClass .freeServ span.serv2{background: url(../images/icon_wifi.png) no-repeat center;background-size: 18px 18px;}
#shopIndex .shopInfo .infoClass .freeServ span.serv3{background: url(../images/icon_parking.png) no-repeat center;background-size: 18px 18px;}
#shopIndex .shopInfo .infoClass .freeServ span.serv4{background: url(../images/icon_pad.png) no-repeat center;background-size: 14px 18px;}
#shopIndex .shopInfo .infoClass .freeServ span.serv5{background: url(../images/icon_fd.png) no-repeat center;background-size: 18px 18px;}

#shopIndex .shopInfo .inPageTag{padding-top:9px;background:#fff8ef;}
#shopIndex .shopInfo .inPageTabNav{height:40px;overflow: hidden;}
#shopIndex .shopInfo .inPageTabNav p{background:#c6ad8f;height:40px;overflow: hidden;}
#shopIndex .shopInfo .inPageTabNav a{float:left;width:25%;line-height:40px;color:#443626;font-weight: bold;border-left:1px solid #dbcfc0;margin-left:-1px;text-align: center;}
#shopIndex .shopInfo .inPageTabNav a.curr{background: #a38f76;color:#443626;}

/*发型师*/
#shopIndex .shopInfo .inPageTabCont{background:#fff url(../images/shopindex_inpagetabcont_bg.png) repeat-x 0 0 ;}

#shopIndex .shopInfo .slidebox{padding:18px 0 15px;border-bottom:1px solid #d6d6d6;border-top:2px solid #fff;background:#fff8ee;}
#shopIndex .shopInfo .slidebox .tit{height:21px;line-height:21px;margin-bottom:17px;}
#shopIndex .shopInfo .slidebox .tit i{float:left;background:#f50 url(../images/title_light.png) no-repeat right 0;background-size:7px 21px;font-size:13px;font-size:1.3rem;color:#fff;font-weight: bold;padding:0 20px 0 12px;font-style: normal;}
#shopIndex .shopInfo .slidebox .tit .tabTit{float:right;margin-right:14px;margin-top:8px;}
#shopIndex .shopInfo .slidebox .tit .tabTit span{float:left;border-radius: 5px;width:5px;height:5px;background:#d8d7d5;margin-left:5px;overflow:hidden;}
#shopIndex .shopInfo .slidebox .tit .tabTit span.curr{background: #ff5402;}
#shopIndex .shopInfo .slidebox .cont{width:100%;overflow: hidden;}
#shopIndex .shopInfo .slidebox .cont li{float:left;text-align:center;}
#shopIndex .shopInfo .slidebox .cont li dl{display:inline-block;margin:0 11px;width:77px;text-align:center;}
#shopIndex .shopInfo .slidebox .cont li dl dd{display: inline-block;width:66px;height:66px;border-radius: 33px;overflow: hidden;background: #fff;border:1px solid #d6d5d3;margin-bottom:7px;}
#shopIndex .shopInfo .slidebox .cont li dl dd span{display: block;background:url(../mock/230_230.jpg) no-repeat center center;background-size:60px 60px;width:60px;height:60px;border-radius: 30px;margin:3px auto 0;}
#one{display: block;background:url(../mock/230_230.jpg) no-repeat center center;background-size:60px 60px;width:60px;height:60px;border-radius: 30px;margin:3px auto 0;}
#one-one{display: block;background:url(../mock/icon_portrait.png) no-repeat center center;background-size:60px 60px;width:60px;height:60px;border-radius: 30px;margin:3px auto 0;}
/*first element*/                                   // {display:block;position:absolute;top:6px;left:10px;background:url(../mock/230_230.jpg) no-repeat center center;background-size:93px 93px;width:93px;height:93px;border:2px solid #fff;overflow: hidden;box-shadow:-2px 2px 2px rgba(0,0,0,.7);}
#shopIndex .shopInfo .slidebox:first-child{background-color:transparent;border-top:none;}
#shopIndex .shopInfo .slidebox:first-child .tit i{background:#f50 url(../images/title_brown.png) no-repeat right 0;}
#shopIndex .shopInfo .slidebox:first-child .cont li dl dd{width:77px;height:77px;border-radius: 39px;background: #cebda9;border:none;}
#shopIndex .shopInfo .slidebox:first-child .cont li dl dd span{display: block;width:66px;height:66px;border-radius: 33px;overflow: hidden;border:1px solid #b2a293;background: #fff;margin:5px auto 0;}
                                                                 
#shopIndex .shopInfo .slidebox .cont li dl dt strong{font-size:15px;font-size:1.5rem;color:#000;font-weight: bold;}
#shopIndex .shopInfo .slidebox .cont li dl dt em{font-size:11px;font-size:1.1rem;color:#787878;}
/*last element*/
#shopIndex .shopInfo .slidebox:last-child{border-bottom:none;}


/*barberIndex*/
#barberIndex{background:#fff8ef;padding-bottom: 35px;}
#barberIndex .topBanners{position:relative;width:100%;height:220px;overflow: hidden;background:#000;}
#barberIndex .topBanners .picWin{width:100%;height:220px;overflow: hidden;}
#barberIndex .topBanners .picWin li{position:relative;float:left;height:220px;}
#barberIndex .topBanners .picWin img{display:block;height:220px;margin:0 auto;}

#barberIndex .topBanners .shopName{position: absolute;top:0;left:0;width:100%;height:34px;color:#fff;background:rgba(0,0,0,.7);line-height:34px;}
#barberIndex .topBanners .shopName .name{float:left;width:65%;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;text-indent:13px;}
#barberIndex .topBanners .shopName .time{float:right;width:30%;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;color:#9b9b9b;font-size:10px;font-size:1rem;}
#barberIndex .topBanners .barberName{position: absolute;left:10px;bottom:10px;width:100%;opacity:.26;color:#fff;}
#barberIndex .topBanners .navBtn{position: absolute;top:50%;left:0;width:100%;height:37px;overflow: hidden;margin-top:-18px;}
#barberIndex .topBanners .navBtn .prev{float:left;width:38px;height:37px;background: url(../images/topic_page_button_previous_normal.png) no-repeat 0 0;background-size: 38px 37px;}
#barberIndex .topBanners .navBtn .next{float:right;width:38px;height:37px;background: url(../images/topic_page_button_next_normal.png) no-repeat 0 0;background-size: 38px 37px;}

#barberIndex .orderBarber .barberInfo{padding:9px 0 15px;}
#barberIndex .orderBarber .barberInfo .avatar{float:left;margin-left:20px;margin-right:10px;}
#barberIndex .orderBarber .barberInfo .avatar span{display:block;width:66px;height:66px;border-radius: 33px;border:1px solid #d4d0cd;box-shadow:0 0 1px #d4d0cd;background:#fff;}
#barberIndex .orderBarber .barberInfo .avatar .barimg{display:block;width:60px;height:60px;margin:3px auto 0;border-radius: 30px;background:url(../mock/640_440.jpg) no-repeat center center;background-size:60px 60px;}
#barberIndex .orderBarber .barberInfo .info{float:left;margin-top:15px;}
#barberIndex .orderBarber .barberInfo .info h2{font-size:20px;font-size:2rem;font-weight: bold;}
#barberIndex .orderBarber .barberInfo .info .jobTitle{font-size:11px;font-size:1.1rem;color:#787878;margin-top:5px;}
#barberIndex .orderBarber .barberInfo .orderBtn{float:right;width:87px;height:40px;background:url(../images/topic_page_button_order_normal.png) no-repeat 0 0;background-size: 87px 40px;font-size:18px;font-size:1.8rem;line-height:40px;margin-top:15px;}
#barberIndex .orderBarber .barberInfo .orderBtn a{color:#fff;display: block;padding-left:12px;}

#barberIndex .orderBarber .barberSign{padding:0 34px 20px;color:#676767;font-size: 12px;font-size: 1.2rem;}
#barberIndex .orderBarber .barberSign .quote{display:inline-block;width:12px;height:9px;}
#barberIndex .orderBarber .barberSign .quote.start{background:url(../images/topic_page_quotation_mark_left.png) no-repeat 0 0;background-size: 12px 9px;margin-right:10px;}
#barberIndex .orderBarber .barberSign .quote.end{background:url(../images/topic_page_quotation_mark_right.png) no-repeat 0 0;background-size: 12px 9px;margin-left:5px;}

/* userTabs */
#userTabs{padding-bottom:35px;}
#userTabs .topBanners{position:relative;height:102px;background: #fff url(../images/userTabs_bg.png) no-repeat 0 0; background-size: 115px 102px;}
#userTabs .topBanners .picWin{position:absolute;top:11px;left:8px;width:78px;height:78px;border:1px solid #e2e2e1;border-radius: 39px;background:#fff;box-shadow:0 1px 1px #e2e2e1;}
#userTabs .topBanners .picWin span{display:block;position:absolute;left:3px;background:url(../mock/640_440.jpg) no-repeat center center;background-size: 72px 72px;width:72px;height:72px;margin:3px auto;border-radius: 36px;overflow: hidden;}
//#userTabs .topBanners .picWin span img{display:block;width:72px;height:72px;}
//                             {display:block;position:absolute;top:6px;left:10px;background:url(../mock/230_230.jpg) no-repeat center center;background-size:93px 93px;width:93px;height:93px;border:2px solid #fff;overflow: hidden;box-shadow:-2px 2px 2px rgba(0,0,0,.7);}
#userTabs .topBanners .userName{padding:20px 0 0 112px;color:#614d35;}
#userTabs .topBanners .userName .name{font-size:21px;font-size:2.1rem;}
#userTabs .topBanners .userName .name em{font-size:11px;font-size:1.1rem;margin-left:12px;}
#userTabs .topBanners .userName .features{width:180px;padding-top:15px;font-size:1.1rem;}
#userTabs .topBanners .userName .features span{float:left;margin-right:5px;white-space: nowrap;line-height:18px;}
#userTabs .topBanners .userName .features label{float:left;white-space: nowrap;line-height:18px;}
#userTabs .topBanners .userName .features span:last-child{margin-right:0;}
#userTabs .topBanners .userName .features .edit{position:absolute;right:10px;bottom:20px;width:27px;height:27px;background: url(../images/user_page_portrait_button_edit_normal.png) no-repeat 0 0;background-size: 27px 27px;}

#userTabs .userInfo .inPageTag{background:#fff8ef;}
#userTabs .userInfo .inPageTabNav{position:relative;height:40px;}
#userTabs .userInfo .inPageTabNav p{background:#c6ad8f;height:40px;overflow: hidden;}
#userTabs .userInfo .inPageTabNav a{position:relative;float:left;width:25%;line-height:40px;color:#fff;font-weight: bold;border-left:1px solid #dbcfc0;margin-left:-1px;text-align: center;}
#userTabs .userInfo .inPageTabNav a.curr{background: #a38f76;}
#userTabs .userInfo .inPageTabNav a i{position:absolute;right:0;top:0;width:20px;height:20px;border-radius: 10px;background: #fff;overflow: hidden;}
#userTabs .userInfo .inPageTabNav a i b{display: block;width:16px;height:16px;margin:2px auto;background:#f50;border-radius: 8px;overflow: hidden;line-height: 16px;text-align: center;font-style: normal;}


#userTabs .userInfo .inPageTabNav .countInfo{position: absolute;display:none;height:36px;left:0;bottom:-36px;background:#a18d76;color:#fff;font-size:12px;font-size:1.2rem;font-weight:bold;line-height:36px;width:100%;}
#userTabs .userInfo .inPageTabNav .countInfo .counts{padding:0 0 0 20px;}
#userTabs .userInfo .inPageTabNav .countInfo .counts span{margin-right:12px;}
#userTabs .userInfo .inPageTabNav .countInfo .counts span em{margin-left:8px;}
#userTabs .userInfo .inPageTabNav .countInfo .sortBy{position:absolute;top:5px;right:10px;width:70px;height:25px;background: url(../images/button_out.png) no-repeat 0 0; background-size: 70px 25px;overflow: hidden;z-index:1;}
#userTabs .userInfo .inPageTabNav .countInfo .sortBy.byMoney{background-image:url(../images/button_in.png);}
#userTabs .userInfo .inPageTabNav .countInfo .sortBy em{float:left;width:50%;height:25px;}

#userTabs .userInfo .inPageTabCont{display: none;}

#userTabs .userInfo .shoucang .tit{height:24px;line-height:24px;margin:20px 0 12px;}
#userTabs .userInfo .shoucang .tit i{float:left;background:#f50 url(../images/title_light2.png) no-repeat right 0;background-size:12px 24px;color:#fff;font-weight: bold;padding:0 20px 0 14px;font-style: normal;}
#userTabs .userInfo .shoucang .tit .edit{float:right;background:url(../images/user_page_portrait_button_edit_normal.png) no-repeat right 0;background-size:24px 24px;width:24px;height:24px;margin-right:12px;}
#userTabs .userInfo .shoucang .cont{}
#userTabs .userInfo .shoucang .cont ul{padding:0 12px 0 6px;}
#userTabs .userInfo .shoucang .cont li{float:left;width:92px;height:92px;border:1px solid #cec8c1;border-radius: 2px;box-shadow: 0 1px 2px #cec8c1;margin:0 0 6px 6px;background:#fff;}
#userTabs .userInfo .shoucang .cont li a{display: block;width:88px;height: 88px;margin:2px auto;overflow: hidden;}
#userTabs .userInfo .shoucang .cont li img{vertical-align: middle;width:88px;height: 88px;}

#userTabs .userInfo .huiyuanka ul{padding:18px 5px 0;}
#userTabs .userInfo .huiyuanka li{position:relative;float:left;width:146px;height:87px;margin:0 4px 5px;}
#userTabs .userInfo .huiyuanka li .card{width:146px;height:87px;background: url(../images/user_page_card_normal.png) no-repeat 0 0;background-size: 146px 87px;}
#userTabs .userInfo .huiyuanka li .card.applyNow{opacity: 0.4;}
#userTabs .userInfo .huiyuanka li .card.expired{background: url(../images/user_page_card_expired.png) no-repeat 0 0;background-size: 146px 87px;}
#userTabs .userInfo .huiyuanka li .card .tit{position:relative;height:24px;line-height: 24px;padding:11px 0 0 13px;color:#841033;}
#userTabs .userInfo .huiyuanka li .card .tit .expires{position:absolute;top:11px;right:12px;height:26px;color:#ffea00;font-weight: bold;}

#userTabs .userInfo .huiyuanka li .card .cont{padding:25px 20px 0 0;text-align: right;}
#userTabs .userInfo .huiyuanka li .card .cont .count{font-size:12px;font-size:1.2rem;font-weight: bold;color:#ffd;}
#userTabs .userInfo .huiyuanka li .card .cont .count span{margin-left:10px;}
#userTabs .userInfo .huiyuanka li .card .cont .count span:first-child{margin-left:0;}
#userTabs .userInfo .huiyuanka li .applyBtn{position: absolute;bottom:18px;left:3px;width:135px;height:25px;background: #e8511d;line-height: 25px;font-size:15px;font-size:1.5rem;font-weight: bold;text-align: center;border-bottom:3px solid #ffea00;color:#ffffdd;}

#userTabs .userInfo .xiaofeitixing li{position:relative;border-top:1px solid #fff;border-bottom: 1px solid #d6d6d6;height:70px;}
#userTabs .userInfo .xiaofeitixing li:first-child{border-top: none;}
#userTabs .userInfo .xiaofeitixing li .avatar{position:absolute;top:0;left:0;width:84px;height:70px;overflow: hidden;float:left;}
#userTabs .userInfo .xiaofeitixing li .avatar span{margin:6px 0 0 13px;display: block;width:55px;height:55px;border:1px solid #d4d3d2;box-shadow:0 0 3px #d4d3d2;border-radius:28px;background: #fff;}
#userTabs .userInfo .xiaofeitixing li .avatar span a{display: block;margin:2px auto;width:51px;height:51px;border-radius: 26px;overflow: hidden;}
#userTabs .userInfo .xiaofeitixing li .avatar span a img{width:55px;height:55px;}
#userTabs .userInfo .xiaofeitixing li .notice{padding-left:85px;}
#userTabs .userInfo .xiaofeitixing li .notice .tit{padding-top:8px;line-height: 30px;height:30px;}
#userTabs .userInfo .xiaofeitixing li .notice .tit .name{color:#000;font-weight: bold;}
#userTabs .userInfo .xiaofeitixing li .notice .tit .name i{}
#userTabs .userInfo .xiaofeitixing li .notice .tit .name i b{}
#userTabs .userInfo .xiaofeitixing li .notice .tit .time{font-size: 12px;font-size:1.2rem;color:#828282;float:right;padding-right:12px;}
#userTabs .userInfo .xiaofeitixing li .notice .cont{padding-top:3px;padding-right:30px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;font-size:12px;font-size:1.2rem;color:#323232;}

#userTabs .userInfo .xiaofeijilu{padding-top:36px;}
#userTabs .userInfo .xiaofeijilu li{padding:12px 14px 12px 20px;line-height:24px;border-top:1px solid #fff;border-bottom: 1px solid #d6d6d6;}
#userTabs .userInfo .xiaofeijilu li:first-child{border-top: none;}
#userTabs .userInfo .xiaofeijilu li .line{position:relative;}

#userTabs .userInfo .xiaofeijilu li .date{float:left;font-weight: bold;color:#808080;}
#userTabs .userInfo .xiaofeijilu li .stars{position:absolute;right:0;top:2px;}
#userTabs .userInfo .xiaofeijilu li .stars span{float:left;width:21px;height:21px;background: url(../images/merchant_page_rating3.png) no-repeat 0 0; background-size: 21px 21px;}

#userTabs .userInfo .xiaofeijilu li .stars.stars1 .s1{background-image:url(../images/merchant_page_rating1.png);}
#userTabs .userInfo .xiaofeijilu li .stars.stars1 .s2,
#userTabs .userInfo .xiaofeijilu li .stars.stars1 .s3,
#userTabs .userInfo .xiaofeijilu li .stars.stars1 .s4,
#userTabs .userInfo .xiaofeijilu li .stars.stars1 .s5{background-image:url(../images/merchant_page_rating3.png);}

#userTabs .userInfo .xiaofeijilu li .stars.stars2 .s1,
#userTabs .userInfo .xiaofeijilu li .stars.stars2 .s2{background-image:url(../images/merchant_page_rating1.png);}
#userTabs .userInfo .xiaofeijilu li .stars.stars2 .s3,
#userTabs .userInfo .xiaofeijilu li .stars.stars2 .s4,
#userTabs .userInfo .xiaofeijilu li .stars.stars2 .s5{background-image:url(../images/merchant_page_rating3.png);}

#userTabs .userInfo .xiaofeijilu li .stars.stars3 .s1,
#userTabs .userInfo .xiaofeijilu li .stars.stars3 .s2,
#userTabs .userInfo .xiaofeijilu li .stars.stars3 .s3{background-image:url(../images/merchant_page_rating1.png);}
#userTabs .userInfo .xiaofeijilu li .stars.stars3 .s4,
#userTabs .userInfo .xiaofeijilu li .stars.stars3 .s5{background-image:url(../images/merchant_page_rating3.png);}

#userTabs .userInfo .xiaofeijilu li .stars.stars4 .s1,
#userTabs .userInfo .xiaofeijilu li .stars.stars4 .s2,
#userTabs .userInfo .xiaofeijilu li .stars.stars4 .s3,
#userTabs .userInfo .xiaofeijilu li .stars.stars4 .s4{background-image:url(../images/merchant_page_rating1.png);}
#userTabs .userInfo .xiaofeijilu li .stars.stars4 .s5{background-image:url(../images/merchant_page_rating3.png);}

#userTabs .userInfo .xiaofeijilu li .stars.stars5 .s1,
#userTabs .userInfo .xiaofeijilu li .stars.stars5 .s2,
#userTabs .userInfo .xiaofeijilu li .stars.stars5 .s3,
#userTabs .userInfo .xiaofeijilu li .stars.stars5 .s4,
#userTabs .userInfo .xiaofeijilu li .stars.stars5 .s5{background-image:url(../images/merchant_page_rating1.png);}

#userTabs .userInfo .xiaofeijilu li .item{float:left;font-weight: bold;}
#userTabs .userInfo .xiaofeijilu li .cost{position:absolute;right:0;top:0;color:#323232;font-size:12px;font-size:1.2rem;}

#shopList {padding-bottom:35px;}
#shopList .topBanners{position:relative;width:100%;height:110px;background:#fff8ef url(../images/shopinfo_banner_bg.png) no-repeat 0 center;background-size:auto 147px;}

#shopList .topBanners .picWin{display:block;position:absolute;top:6px;left:10px;background:url(../mock/230_230.jpg) no-repeat center center;background-size:93px 93px;width:93px;height:93px;border:2px solid #fff;overflow: hidden;box-shadow:-2px 2px 2px rgba(0,0,0,.7);}
//#shopList .topBanners .picWin img{display: block;width:93px;height:93px;}

#shopList .topBanners .shopName{padding:6px 12px 0 115px;}
#shopList .topBanners .shopName .tips{font-size:11px;font-size:1.1rem;color:#fff;font-weight: bold;}
#shopList .topBanners .shopName .name{font-size:22px;font-size:2.2rem;font-weight:bold;color:#fff;text-shadow:1px 1px 3px rgba(0,0,0,.7);overflow:hidden;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
#shopList .topBanners .shopName .starsShow{padding:6px 0 10px;font-size:15px;font-size:1.5rem;font-weight:bold;color:#fff;text-shadow:3px 3px 3px rgba(0,0,0,.7)}

#shopList .topBanners .shopName .starsShow .showStar{float:left;width:110px;}
#shopList .topBanners .shopName .starsShow .showStar i{float:left;width:21px;height:21px;}
#shopList .topBanners .shopName .starsShow .showStar.score0 i.s1,
#shopList .topBanners .shopName .starsShow .showStar.score0 i.s2,
#shopList .topBanners .shopName .starsShow .showStar.score0 i.s3,
#shopList .topBanners .shopName .starsShow .showStar.score0 i.s4,
#shopList .topBanners .shopName .starsShow .showStar.score0 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score5 i.s1{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score5 i.s2,
#shopList .topBanners .shopName .starsShow .showStar.score5 i.s3,
#shopList .topBanners .shopName .starsShow .showStar.score5 i.s4,
#shopList .topBanners .shopName .starsShow .showStar.score5 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score10 i.s1{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score10 i.s2,
#shopList .topBanners .shopName .starsShow .showStar.score10 i.s3,
#shopList .topBanners .shopName .starsShow .showStar.score10 i.s4,
#shopList .topBanners .shopName .starsShow .showStar.score10 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score15 i.s1{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score15 i.s2{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score15 i.s3,
#shopList .topBanners .shopName .starsShow .showStar.score15 i.s4,
#shopList .topBanners .shopName .starsShow .showStar.score15 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score20 i.s1,
#shopList .topBanners .shopName .starsShow .showStar.score20 i.s2{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score20 i.s3,
#shopList .topBanners .shopName .starsShow .showStar.score20 i.s4,
#shopList .topBanners .shopName .starsShow .showStar.score20 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score25 i.s1,
#shopList .topBanners .shopName .starsShow .showStar.score25 i.s2{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score25 i.s3{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score25 i.s4,
#shopList .topBanners .shopName .starsShow .showStar.score25 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score30 i.s1,
#shopList .topBanners .shopName .starsShow .showStar.score30 i.s2,
#shopList .topBanners .shopName .starsShow .showStar.score30 i.s3{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score30 i.s4,
#shopList .topBanners .shopName .starsShow .showStar.score30 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score35 i.s1,
#shopList .topBanners .shopName .starsShow .showStar.score35 i.s2,
#shopList .topBanners .shopName .starsShow .showStar.score35 i.s3{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score35 i.s4{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score35 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score40 i.s1,
#shopList .topBanners .shopName .starsShow .showStar.score40 i.s2,
#shopList .topBanners .shopName .starsShow .showStar.score40 i.s3,
#shopList .topBanners .shopName .starsShow .showStar.score40 i.s4{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score40 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score45 i.s1,
#shopList .topBanners .shopName .starsShow .showStar.score45 i.s2,
#shopList .topBanners .shopName .starsShow .showStar.score45 i.s3,
#shopList .topBanners .shopName .starsShow .showStar.score45 i.s4{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .topBanners .shopName .starsShow .showStar.score45 i.s5{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .showStar.score50 i.s1,
#shopList .topBanners .shopName .starsShow .showStar.score50 i.s2,
#shopList .topBanners .shopName .starsShow .showStar.score50 i.s3,
#shopList .topBanners .shopName .starsShow .showStar.score50 i.s4,
#shopList .topBanners .shopName .starsShow .showStar.score50 i.s5{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}

#shopList .topBanners .shopName .starsShow .score{float:right;line-height: 21px;font-size:18px;font-size:1.8rem;color:#f1ece7;}
#shopList .topBanners .shopName .addr{white-space: nowrap;overflow: hidden;text-overflow:ellipsis;color:#fff;font-size:12px;font-size:1.2rem;color:#f2f2f2;}
#shopList .shopList{}
#shopList .shopList ul{margin:0 6px;}
#shopList .shopList li{height:86px;border-top:1px solid #e0d0bb;overflow: hidden;}
#shopList .shopList li:first-child{border-top:none;}
#shopList .shopList li a{display: block;height:86px;color:#000;}
#shopList .shopList li .name{position:relative;display: block;height:25px;line-height: 25px;padding-top:5px;}
#shopList .shopList li .name em{font-size:15px;font-size:1.5rem;font-weight: bold;}
#shopList .shopList li .cards{display: block;height:25px;line-height:25px;font-size:12px;font-size:1.2rem;font-weight: bold;color:#9a8872;}
#shopList .shopList li .info{display: block;height:25px;line-height:25px;font-weight: bold;color:#9a8872;}
#shopList .shopList li .info .addr{float:left;color:#777;font-size:12px;font-size:1.2rem;}
#shopList .shopList li .info .distance{float:right;color:#c4b198;font-size:18px;font-size:1.8rem;font-weight: bold;}

#shopList .shopList li .stars{position: absolute;right:0;width:110px;}

#shopList .shopList li .stars i{float:left;width:21px;height:21px;}
#shopList .shopList li .stars.score0 i.s1,
#shopList .shopList li .stars.score0 i.s2,
#shopList .shopList li .stars.score0 i.s3,
#shopList .shopList li .stars.score0 i.s4,
#shopList .shopList li .stars.score0 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score5 i.s1{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score5 i.s2,
#shopList .shopList li .stars.score5 i.s3,
#shopList .shopList li .stars.score5 i.s4,
#shopList .shopList li .stars.score5 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score10 i.s1{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score10 i.s2,
#shopList .shopList li .stars.score10 i.s3,
#shopList .shopList li .stars.score10 i.s4,
#shopList .shopList li .stars.score10 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score15 i.s1{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score15 i.s2{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score15 i.s3,
#shopList .shopList li .stars.score15 i.s4,
#shopList .shopList li .stars.score15 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score20 i.s1,
#shopList .shopList li .stars.score20 i.s2{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score20 i.s3,
#shopList .shopList li .stars.score20 i.s4,
#shopList .shopList li .stars.score20 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score25 i.s1,
#shopList .shopList li .stars.score25 i.s2{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score25 i.s3{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score25 i.s4,
#shopList .shopList li .stars.score25 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score30 i.s1,
#shopList .shopList li .stars.score30 i.s2,
#shopList .shopList li .stars.score30 i.s3{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score30 i.s4,
#shopList .shopList li .stars.score30 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score35 i.s1,
#shopList .shopList li .stars.score35 i.s2,
#shopList .shopList li .stars.score35 i.s3{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score35 i.s4{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score35 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score40 i.s1,
#shopList .shopList li .stars.score40 i.s2,
#shopList .shopList li .stars.score40 i.s3,
#shopList .shopList li .stars.score40 i.s4{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score40 i.s5{background:url(../images/merchant_page_rating3.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score45 i.s1,
#shopList .shopList li .stars.score45 i.s2,
#shopList .shopList li .stars.score45 i.s3,
#shopList .shopList li .stars.score45 i.s4{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}
#shopList .shopList li .stars.score45 i.s5{background:url(../images/merchant_page_rating2.png);background-size: 21px 21px;}

#shopList .shopList li .stars.score50 i.s1,
#shopList .shopList li .stars.score50 i.s2,
#shopList .shopList li .stars.score50 i.s3,
#shopList .shopList li .stars.score50 i.s4,
#shopList .shopList li .stars.score50 i.s5{background:url(../images/merchant_page_rating1.png);background-size: 21px 21px;}

/* login */
#login{width:265px;margin:0 auto;padding-bottom:35px;}
#login .loginForm{margin:30px 0 0;}
#login .loginForm label{display:block;margin-bottom:18px;}
#login .loginForm label span{font-size:18px;font-size:1.8rem;color:#262e35;line-height:40px;}
#login .loginForm label input{width:185px;height:25px;line-height: 25px;border:1px solid #f1f1f1;box-shadow: 0 0 1px #ececec;font-size:20px;font-size:2rem;padding:6px 10px;}
#login .loginForm .formBtn{margin-top:7px;float:left;width:120px;height:42px;border-radius:6px;color:#fff;font-size:15px;font-size:1.5rem;font-weight: bold;line-height: 42px;text-align:center;margin-right:20px;}
#login .loginForm .loginBtn{background:#f50;}
#login .loginForm .regBtn{background: #d1b99a;margin-right:0;}

#login .loginAuth{margin-top:60px;}
#login .loginAuth .tit{font-size:12px;font-size:1.2rem;color:#f50;}
#login .loginAuth .cont p{margin-top: 10px;}
#login .loginAuth .cont .line{display:block;height:40px;background: #d1b99a;font-size:12px;color:#fff;font-size:12px;font-size:1.2rem;line-height:40px;border-radius:6px;}
#login .loginAuth .cont .line i{float:left;width:23px;height:23px;background-size: 23px 23px;background-position: 0 0;background-repeat: no-repeat;border-radius: 5px;margin:8px 10px 0 70px;}
#login .loginAuth .cont .line i.weibo{background-image: url(../images/icon_weibo.png);}
#login .loginAuth .cont .line i.weChat{background-image: url(../images/icon_wechat.png);}










/* changeStyle */
#changeStyle{width:100%;height:100%;}
#changeStyle .photoLayer{width:100%;height:100%;background-color:#000;}
#changeStyle .photoLayer .cha{width:100%;height:100%;background-image:url(../mock/640_440.jpg);background-repeat:no-repeat;background-position:0 0;background-size:100% 100%;}

#changeStyle .tookitBar{position: fixed;bottom:35px;width:100%;height:60px;background:rgba(0,0,0,0.8);}
#changeStyle .tookitBar .toolkit{width:25%;height:52px;padding-top:8px;float:left;color:#fff;text-align:center;}
#changeStyle .tookitBar .toolkit .ico{display:block;width:23px;height:23px;margin:0 auto;background:no-repeat 0 0;background-size: 23px 23px;}
#changeStyle .tookitBar .toolkit span{margin-top:0;display: block;}
#changeStyle .tookitBar .toolkit.curr{color:#ffcb18;}
#changeStyle .tookitBar .toolkit.zoom .ico{background-image: url(../images/cs_move_w.png);}
#changeStyle .tookitBar .toolkit.zoom.curr .ico{background-image: url(../images/cs_move_y.png);}
#changeStyle .tookitBar .toolkit.reset .ico{background-image: url(../images/cs_reset_w.png);}
#changeStyle .tookitBar .toolkit.reset.curr .ico{background-image: url(../images/cs_reset_y.png);}
#changeStyle .tookitBar .toolkit.more .ico{background-image: url(../images/cs_more_w.png);}
#changeStyle .tookitBar .toolkit.more.curr .ico{background-image: url(../images/cs_more_y.png);}
#changeStyle .tookitBar .toolkit.save .ico{background-image: url(../images/cs_save_w.png);}
#changeStyle .tookitBar .toolkit.save.curr .ico{background-image: url(../images/cs_save_y.png);}



#changeStyle .tookitBar .styleList{position: absolute;top:-70px;left:0;width:100%;height:69px;border-bottom:1px solid rgba(255,255,255,0.19);overflow: hidden;background:rgba(0,0,0,0.7);}
#changeStyle .tookitBar .styleList ul{margin-top:6px;margin-left:0;}
#changeStyle .tookitBar .styleList li{position:relative;float:left;width:68px;height:57px;margin-right:2px;}
#changeStyle .tookitBar .styleList li.curr:before{border: 2px solid #f50; content: ""; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;} #changeStyle .tookitBar .styleList li span{}
#changeStyle .tookitBar .styleList li span img{float:left;width:68px;height:57px;}



/*media query*/
@media screen and (orientation:portrait) and (max-height: 420px) {
    #fp .hairDesign .hairBtns{height:145px;}
}
@media screen and (orientation:landscape) {
    #fp .hairDesign .hairBtns{height:145px;}
    #shopIndex {padding-bottom:0;}
    .siteNav{position: static;}
}

